services:
  server:
    image: ${SERVER_DOCKER_IMAGE}
    environment:
      CLIENT_BASE_URL: ${CLIENT_BASE_URL}
      VAPID_PUBLIC_KEY: ${VAPID_PUBLIC_KEY}
      VAPID_PRIVATE_KEY: ${VAPID_PRIVATE_KEY}
      PORT: ${API_PORT}
    ports:
      - "${API_PORT}:${API_PORT}"
    deploy:
      resources:
        limits:
          cpus: "0.4"
          memory: 512MB

  client:
    image: ${CLIENT_DOCKER_IMAGE}
    environment:
      API_URL: ${API_URL}
      PORT: ${CLIENT_PORT}
      VAPID_PUBLIC_KEY: ${VAPID_PUBLIC_KEY}
      VAPID_PRIVATE_KEY: ${VAPID_PRIVATE_KEY}
    ports:
      - "${CLIENT_PORT}:80"
    deploy:
      resources:
        limits:
          cpus: "0.4"
          memory: 512MB
